.main-box
{
    background-color: rgb(255, 255, 255); width: 1350px; height: 600px;
}

.main-box h2
{
    font-size: 35px; padding: 30px 0 0 25px; background-color: white; 
}

.body-box
{
    height: 520px; background-color: rgb(255, 255, 255); display: grid; grid-template-columns: repeat(4, 1fr); gap: 10px; 
    
    padding: 10px;
}

.container
{
    width: 300px; height: 500px; background-color: rgb(255, 255, 255); margin: 10px 0 0 10px; border-radius: 8px;
}

.mini-box
{
    height: 150px; background-color: rgb(197, 197, 197); border-radius: 6px; margin-bottom: 20px; display: flex; align-items: center; justify-content: center; margin-top: 10px; 
}

.text-style-1
{
    font-size: 40px; font-weight: bold; text-align: center;
}

img
{
    width: 300px; height: 300px; object-fit: contain; border-radius: 5px; margin-bottom: 10px;
}

.text-shadow 
{
    font-size: 40px; font-weight: bold; color: rgb(59, 57, 57); text-shadow: 3px 10px 8px rgba(0, 0, 0, 0.6); 
}